:root {
    --heading-font-family: "Bebas Neue", sans-serif;
}

html, body {
  font-family: sans-serif;
  color: white;
  font-weight: 500;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  background-color: #3B494B;
  background-image: url('./Images/decorative-background-with-smoke.jpg');
  line-height: 24px;
}



h1 {
    font-size: 3.5rem;
    color: #8b3dff;
    font-family: var(--heading-font-family);
    letter-spacing: .2rem;
}

h2 {
    color: #8b3dff;
    font-size: 2rem;
    font-family: var(--heading-font-family);
    letter-spacing: .1rem;
    padding-left: 24rem;
}

h3 {
    font-family: var(--heading-font-family);
    letter-spacing: .1rem;
    color: aliceblue;
    /* padding-left: 4.5rem; */
    background-color: #3f5efb1c;;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;

}


#intro-details h1{
    font-size: 4rem;
}

.workflow {
    height: 450px;
    width: 840px;
}

#ai-workflow {
    text-align: center;
    padding-bottom: 6rem;
}

#ai-workflow h1 {
    text-align: left;
    padding-bottom: 40px;
}

#ai-introduction {
    margin: 0rem 7rem;
}


ul {
    list-style: none;
    background-color: #5d13df;
    padding: 0.5rem 0.7rem;
    border-radius: .4rem;
    width: fit-content;
    padding: .5rem;
    
}

a {
    color: white;
    text-decoration: none;
}


ul:hover {
    background-color: #5012ad;
}

ul:hover .fa-solid.fa-angles-right {
    transform: rotate(90deg);
    padding: .2rem;
}


i {
    color: white;
    padding-left: .6rem;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* #intro-details {
    padding-top: 12.5rem;

} */

#intro-image img {
    height: 47rem;
    width: 42rem;
    padding-left: 4rem;
}

/* #intro-image img {
    height: 38rem;
    width: 32rem;
    padding-left: 4rem;
} */


#buzzwords {
    background-color: #3f5efb1c;
    padding: 3rem;
    border-radius: 2rem;
}

#buzzwords p {
    padding: 0rem 3rem;
    
}


#buzzwords h2 {
    color: #ac84cc;
    font-size: 2rem;
    font-family: var(--heading-font-family);
    letter-spacing: .1rem;
    /*! padding-left: 24rem; */
    padding-left: 40%;
}


#capabilities {
    padding-top: 1rem;
}



#ai-title h2, #Requirement h2 {
    font-size: 2.5rem;
    font-family: var(--heading-font-family);
    letter-spacing: .1rem;
    padding: 0;
    padding-top: 4rem;
}

#ai-tools-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}



#ai-tools-image img {
    height: 25rem;
    width: 19rem;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
    0%   { top:10px;}
    50%  { top:90px;}
    100% { top:10px;}
}

.ai-tools-para-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #aab5e91c; 
    padding: 1.6rem;
    border-radius: 1.2rem;
    width: 21rem;
    height: 17rem;
}

/* p {
    border: 1px solid red;
} */

.ai-tools-para-ul ul{
    font-weight: 600;
}

#phind, #mistral {
    padding: 1rem;  
    padding-top: 3rem;
    padding-left: 0;
}

#phind h3, #mistral h3{
    text-align: center;
}


#phind img, #mistral img {
    height: 3rem;
    width: auto;
    object-fit: contain;
    
}

.fa-caret-right {
    padding-left: .3rem;
}


#link-to-codelab {
    /* padding-left: 39rem; */
    /* padding-left: 3rem; */
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#link-to-codelab h2 {
    text-align: center;
    padding: 0;
}

.codelab {
    text-align: center;
    position: relative;
    left: 31rem;
}


.sub-heading {
    font-family: var(--heading-font-family);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    width: fit-content;
    color: var(--heading-color)
}

.tool-intro-content {
  width: 60rem;
  font-weight: normal;
  font-family: var(--content-font-family);
  letter-spacing: normal;
}


th, td {
  padding: 10px;
}

td {
  font-weight: normal;
  font-family: var(--content-font-family);
  font-size: 0.9rem;
  letter-spacing: normal;
}

.comparison-table {
  text-align: center;
}

table {
  font-size: 1.2rem;
  border: 1px solid gray;
  margin-top: 30px;
  border-radius: 10px;
}

.table {
    padding-left: 8rem;
}

span {
    font-weight: bold;
}   
   

code {
    width: fit-content;
    padding: 5px;
    background-color: #292e2f;
}

#Requirement li {
    margin-bottom: 2rem;
}

.requirement-heading {
    text-align: left;
    padding: 0;
    padding-top: 7rem;
}

#Requirement h3 {
    font-size: 1.8rem;
    font-family: var(--heading-font-family);
    letter-spacing: .1rem;
    padding: 0;
    padding-top: 1.8rem;
    background-color: transparent;
    color: #ac84cc;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-color: rgba(32, 37, 38, 0.557);
    box-shadow: 0 1px 5px 0 rgba(105, 105, 105, 0.897), 0 2px 20px 2px rgba(60,64,67,.15);
}

#navbar a {
    font-weight: bold;
    font-size: 1.2rem;
    color: #868a8d;
    font-family: var(--heading-font-family);
}

#navbar a:hover {
    color: aliceblue;
}

.parts {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: aliceblue;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }