:root {
    --main-text-color: #FFFFFF;
    --letter-spacing: 0.07rem;
    --line-height: 24px;
    --heading-font-family: "Bebas Neue", sans-serif;
    --content-font-family: sans-serif;
    --heading-color: #8b3dff;
}

body {
    margin: 5rem;
    font-family: var(--content-font-family);
    color: var(--main-text-color);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    background-image: url(./decorative-background-with-smoke.jpg);
}

.Tool-heading {
    font-family: var(--heading-font-family);
    letter-spacing: 0.15rem;
    font-size: 5rem;
    padding: 10px;
}

img {
    height: 70px;
}

.tool-intro-content {
    width: 60rem;
    padding-top: 0px;
}

.phind-tool {
    color: #75FF79;
}

.sub-heading {
    font-family: var(--heading-font-family);
    letter-spacing: 0.2rem;
    color: var(--heading-color);
    font-size: 2rem ;
}

.comparison-table {
    text-align: center;
}

th, td {
    padding: 10px;
}

.back-button {
    border-radius: 50px;
    border: none;
    background-color: #5d13df;
    height: fit-content;
    width: 2rem;
    text-decoration: none;
    color: white;
    letter-spacing: var(--letter-spacing);
    font-weight: 600;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.back-button:hover {
    background-color: #5012ad;
}

.answers {
    color: antiquewhite;
}

.features {
    font-weight: normal;
    font-family: var(--content-font-family);
    letter-spacing: normal;
}

.features:hover {
    box-shadow: 3px 3px 3px 3px rgba(227, 219, 219, 0.2);
    border-radius: 0.5rem;
    padding: 10px;
}

code {
    width: fit-content;
    padding: 5px;
    background-color: #292e2f;
}

.demo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 3rem;
}

.demo img {
    width: 100%;
    height: 25rem;
}

table {
    border: 1px solid gray;
    margin-top: 30px;
    border-radius: 10px;
}

table th:nth-child(2),
table td:nth-child(2) {
    box-shadow: 3px 3px 3px 3px rgba(227, 219, 219, 0.2);
    border-radius: 0.5rem;
}

.check {
    color: green;
}

.cross {
    color: red;
}

.lavender-color {
    color: #ac84cc;
    font-size: 1.3rem;
}

.read-more {
    color: white;
}

.phind-link {
    background-color: #3c3f40;
    width: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

.faq {
    padding-bottom: 0;
    margin-bottom: 0;
}